body {
  word-break: break-word;
  animation: fadein 0.25s linear;
}

.logo {
  max-width: 6rem;
}

.bg-av-red {
  background: #cf352c;
}

.bg-av-dark-red {
  background: #91251f;
}

.cream {
  color: #fffceb;
}

.ff-space-mono {
  font-family: 'Space Mono', sans-serif;
}

.ff-avenir {
  font-family: 'Avenir W01', -apple-system, BlinkMacSystemFont, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif
}

a {
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
  transition: border .15s ease-in-out, transform .15s ease-in-out;
}

a:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.hover-rotate:hover {
  transform: rotate(2deg);
}

@keyframes fadein {
  0% { opacity: 0; }
  66% { opacity: 0; }
  100% { opacity: 1; }
}
